<h2> Templates Switches </h2>
<hr>
<form  #miFormulario ="ngForm">

    <!--Radio-->

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)] = "persona.genero" value="M" name="genero" id="radioM">
                <label class="form-check-label" for="radioM">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio"  [(ngModel)] = "persona.genero" value="F" name="genero" id="radioF" >
                <label class="form-check-label" for="radioF">
                  Femenino
                </label>
              </div>

        </div>

    </div>

    <!--Switches-->

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch ">
                <input class="form-check-input" [(ngModel)] = "persona.notificaciones" name="notificaciones" type="checkbox" role="switch" id="flexSwitchCheckChecked" >
                <label class="form-check-label" for="flexSwitchCheckChecked">Desea Recibir Notificaciones</label>
              </div>
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" name="condiciones" [(ngModel)] = "persona.condiciones" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Terminos y Condicones
                </label>
              </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary float-end">Guardar</button>
        </div>

    </div>



</form>


<div class="row">
    

        <pre class="text-danger">
            {{miFormulario.value | json}}
        </pre>

</div>